#octo {
  position: fixed;
  margin-left: 40%;
  z-index: -1;
  padding-top: 60px;
}
#hat {
  position: absolute;
  bottom: 180px;
  right: -50px;
}
#glasses {
  position: absolute;
  bottom: 130px;
  right: 30px;
}